.addPerson{
margin-left: 650px;
}

.block{
    min-height: 100%;
    width: 100%;
}

.content img{
    height: 40px;
    width: 40px;
}

.content input{
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid #730E0E;
    width: 305px;
    margin-left: 220px;
}

.content span{
    color:black;
    font-weight: bold;
    font-size: 21;
}

.content .r1{
    margin-top: 50px;
    margin-left: 70px;
}

.content button{
    background-color:none;
    border: none;
}

table{
    margin-top: 15px;
    margin-left: 100px;
    border: 1px solid #730E0E;
    color: #730E0E;
    width: 950px;
    max-height: 100%;
}

.content td button img{
    width: 32px;
    height: 32px;
    background-color:none;
    border: none;
}

 th{
    color: white;
    background-color:#730E0E;
    padding: 15px;
    font-size: 16px;
}

 td{
 padding: 15px;
 font-weight: bold;
}

.modal{
    color:#730E0E;
    font-family: Arial;
  
}

.modal .modal-title{
    font-size: 18px;
    font-weight: bold;
}

.modal label{
    text-align: center;
    font-size: 19px;
    padding: 10px;

}

.modal input{
    margin-left: 30px;
    width: 300px;
    border: 2px solid black;
}

.modal-footer button{
   border-radius: 10px;
}

.modal-header{
    background-color:  #730E0E;
}

.modal-title{
    color: white;
}

.btn1{
    background-color:#730E0E; 
    color:whitesmoke;
}