body{
    font-family: Arial;
}

.img{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    margin-left: 80px;
}

.top img{
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

.top .nav-link{
    padding-bottom: 25px;
}

.top span{
    text-align: center;
    color: white;
    font-size: 24px;
    font-style: italic;
}

.nav-link{
    font-size: 19px;
    color: white;
}

.tops .nav-link:hover{
    color:rgb(83, 43, 43);
}

.tops .nav-item .nav-link{
    margin-left:7px;
}
.tops{
    width: 260px;
    min-height: 100%;
}

.nav{
     background-color: #730E0E;
}
li img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    
}

li{
    padding-top: 25px;
}

.tops span{
    text-align: center;
    color: white;
    font-size: 18px;
    padding-bottom: 30px;
}
