<template>
    <div>

      <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Book</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="">
                  <div><label for="">Name</label>
                  <input type="text" v-if="modalTarget == 'addModal'" v-model="books.name" >
                  <input type="text" v-if="modalTarget == 'updateModal'" v-model="book.name" >
                  </div>
                  <div><label for="" >Author</label>
                  <input type="text"  v-if="modalTarget == 'addModal'" class="ml-4" v-model="books.author">
                  <input type="text" v-if="modalTarget == 'updateModal'" v-model="book.name" >
                  </div>
                  <div><label for="">Copies</label>
                  <input type="text"  v-if="modalTarget == 'addModal'" class="ml-4" v-model="books.copies" >
                  <input type="text" v-if="modalTarget == 'updateModal'" v-model="book.name" >
                  </div>
                  <div><label for="">Category</label>
                  <select v-model="books.category_id"  v-if="modalTarget == 'addModal'">
                      <option v-for="category in bookData" :value="category.id" :key="category.id">
                          {{category.category}}
                      </option>
                  </select>

                  <select v-model="book.category_id"  v-if="modalTarget == 'updateModal'">
                      <option v-for="category in bookData" :value="category.id" :key="category.id">
                          {{category.category}}
                      </option>
                  </select>
                  </div>

                <div v-if="modalTarget == 'deleteModal'">
                    <h5>Would you like to Delete?</h5>
                </div>

                <div v-if="modalTarget == 'returnModal'">
                    <div><label for="" >Book</label></div>
                    <input type="text">
                    <div><label for="" >Copies</label></div>
                    <input type="number">
                    <div><label for="" >Patron</label></div>
                    <input type="text">
                </div>

                <div v-if="modalTarget == 'borrowModal'">
                    <div><label for="" >Patron</label></div>
                    <input type="text">
                    <div><label for="" >Copies</label></div>
                    <input type="number">
                    <div><label for="" >Book</label></div>
                    <input type="text">
                </div>

              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light btn1" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-light btn1" data-dismiss="modal" v-if="modalTarget == 'addModal'" @click="addData">Add Patron</button>
              <button type="button" class="btn btn-light btn1" data-dismiss="modal" v-if="modalTarget == 'updateModal'" @click="updateData">Update Patron</button>
              <button type="button" class="btn btn-light btn1" data-dismiss="modal" v-if="modalTarget == 'deleteModal'" @click="deleteData">Delete Patron</button>
              <button type="button" class="btn btn-light btn1" data-dismiss="modal" v-if="modalTarget == 'returnModal'" @click="returnData">Return Patron</button>
              <button type="button" class="btn btn-light btn1" data-dismiss="modal" v-if="modalTarget == 'borrowModal'" @click="borrowData">Borrow Patron</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>

export default {
    name:'AddBookModal',
    props:['modalTarget','book'],
    data(){
        return{
            books:{
                name:'',
                author:'',
                copies:'',
                category:''
            }
        }
    },
    computed:{

        bookData()
        {
            return this.$store.getters['book/category']
        }

    },
    mounted(){
        this.getCategory()
    },
    methods:{

        getCategory()
        {
            this.$store.dispatch('book/getCategory')
        },
        addData()
        {
            this.$store.dispatch('book/addData')
        },
        updateData()
        {
            this.$store.dispatch('book/updateData')
        },
        deleteData()
        {
            this.$store.dispatch('book/deleteData')
        }     
    }
}
</script>

<style scoped>
.r1{
    margin-top: 50px;
    margin-left: 310px;
}

.r1 input{
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid #730E0E;
    width: 305px;
    margin-left: 215px;
}


.modal{
    color:#730E0E;
    font-family: Arial;
  
}

.modal .modal-title{
    font-size: 18px;
    font-weight: bold;
}

.modal label{
    text-align: center;
    font-size: 19px;
    padding: 10px;

}

.modal input{
    margin-left: 30px;
    width: 300px;
    border: 2px solid black;
}

.modal-footer button{
   border-radius: 10px;
}

.modal-header{
    background-color:  #730E0E;
}

.modal-title{
    color: white;
}

.btn1{
    background-color:#730E0E; 
    color:whitesmoke;
}

table{
    margin-top: 15px;
    margin-left: 340px;
    border: 1px solid #730E0E;
    color: #730E0E;
    width: 950px;
    max-height: 100%;
    text-align: center;
}

th{
    color: white;
    background-color:#730E0E;
    padding: 15px;
    font-size: 16px;
}

 td{
 padding: 15px;
 font-weight: bold;
}

button img{
    width: 32px;
    height: 32px;
    background-color:none;
    border: none;
}
</style>