<template>
    <div>
    
      <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Patron</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form action="">
                  <div><label for="">First Name</label>
                  <input type="text" v-if="modalTarget == 'addModal'" v-model="patrons.first_name">
                  <input type="text" v-if="modalTarget == 'updateModal'" v-model="patron.first_name">
                  </div>
                  <div><label for="">Middle Name</label>
                  <input type="text" class="ml-auto" v-if="modalTarget == 'addModal'" v-model="patrons.middle_name">
                   <input type="text" v-if="modalTarget == 'updateModal'" v-model="patron.middle_name">
                  </div>
                  <div><label for="">Last Name</label>
                  <input type="text" v-if="modalTarget == 'addModal'" v-model="patrons.last_name">
                   <input type="text" v-if="modalTarget == 'updateModal'" v-model="patron.last_name">
                  </div>
                  <div><label for="">Email Address</label>
                  <input type="text" v-if="modalTarget == 'addModal'" class="ml-auto" v-model="patrons.email">
                  <input type="text" v-if="modalTarget == 'updateModal'" v-model="patron.email">
                  </div> 

                  <div v-if="modalTarget == 'deleteModal'">
                      <h5>Would you like to Delete?</h5>
                  </div> 
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light btn1" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-light btn1" data-dismiss="modal" v-if="modalTarget == 'addModal'" @click="addData">Add Patron</button>
              <button type="button" class="btn btn-light btn1" v-if="modalTarget == 'updateModal'" data-dismiss="modal" @click="updateData">Update Patron</button>
              <button type="button" class="btn btn-light btn1" v-if="modalTarget == 'deleteModal'" data-dismiss="modal" @click="deleteData">Delete Patron</button>
            </div>
          </div>
        </div>
      </div>
    </div>    
</template>

<script>

export default {
    name:'AddPatronModal',
    props:['modalTarget', 'patron'],
    data(){
        return{

            patrons:{
                first_name:'',
                middle_name:'',
                last_name:'',
                email:''
            }
        }
    },
    methods:{
        
        addData()
        {
            this.$store.dispatch('patron/addData', this.patrons)
        },
        updateData()
        {
            this.$store.dispatch('patron/updateData', this.patron)
        },
        deleteData()
        {
            this.$store.dispatch('patron/deleteData', this.patron)
        }

    }
}
</script>

<style scoped>
.r1{
    margin-top: 50px;
    margin-left: 310px;
}

.r1 input{
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid #730E0E;
    width: 305px;
    margin-left: 215px;
}


.modal{
    color:#730E0E;
    font-family: Arial;
  
}

.modal .modal-title{
    font-size: 18px;
    font-weight: bold;
}

.modal label{
    text-align: center;
    font-size: 19px;
    padding: 10px;

}

.modal input{
    margin-left: 30px;
    width: 300px;
    border: 2px solid black;
}

.modal-footer button{
   border-radius: 10px;
}

.modal-header{
    background-color:  #730E0E;
}

.modal-title{
    color: white;
}

.btn1{
    background-color:#730E0E; 
    color:whitesmoke;
}

table{
    margin-top: 15px;
    margin-left: 340px;
    border: 1px solid #730E0E;
    color: #730E0E;
    width: 950px;
    max-height: 100%;
    text-align: center;
}

th{
    color: white;
    background-color:#730E0E;
    padding: 15px;
    font-size: 16px;
}

 td{
 padding: 15px;
 font-weight: bold;
}

button img{
    width: 32px;
    height: 32px;
    background-color:none;
    border: none;
}
</style>