<template>
    <div>
    <Sidenav />
    <Header />
    <Addbookmodal :modalTarget="modalTarget" :book="data"/>
     <div class="row r1">
         <div class="col-5">
             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" @click="modal('addModal')" style="margin-left: 12px;">ADD BOOK</button>
         </div>
        <div class="col-7 mr-auto" ><input type="text"></div>
    </div>

    <table>
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Author</th>
            <th>Copies Available</th>
            <th>Category</th>
        </tr>

        <tr v-for="tables in bookData" :key="tables.id"  >
                <td> 
                    <button class="btn" @click="modal('updateModal',tables)"><img src="../assets/img/edit.png" alt=""></button>
                    <button class="btn" @click="modal('borrowModal',tables)"><img src="../assets/img/borrow.png" alt=""></button>
                    <button  class="btn" @click="modal('returnModal',tables)"><img src="../assets/img/return.png" alt=""></button>
                    <button  class="btn" @click="modal('deleteModal',tables)"><img src="../assets/img/delete.png" alt=""></button>
                </td>
                <td>{{tables.name}}</td>
                <td>{{tables.author}}</td>
                <td>{{tables.copies}}</td>
                <td>{{tables.category.category}}</td>
        </tr>
        
    </table>

    </div>
</template>

<script>
import Sidenav from '../components/sidenav'
import Header from '../components/header'
import Addbookmodal from '../components/AddBookModal'

export default {
    name: 'book-management',
    components:{
        Sidenav,
        Header,
        Addbookmodal
    },
    data(){
        return{
            modalTarget: null,
            data: null
        }
    },
    computed:{

        bookData()
        {
            return this.$store.getters['book/data']
        }

    },
    mounted(){
        this.getData()
    },
     methods:{

         getData()
         {
             this.$store.dispatch('book/getData')
         },

         modal(target,data)
         {
             if(target == 'addModal'){
                 this.modalTarget = target
             }
              if(target == 'updateModal'){
                 this.modalTarget = target
                 this.data = data
             }
              if(target == 'deleteModal'){
                 this.modalTarget = target
                 this.data = data
             }
              if(target == 'returnModal'){
                 this.modalTarget = target
                 this.data = data
             }
              if(target == 'borrowModal'){
                 this.modalTarget = target
                 this.data = data
             }
         }
     }
}
</script>

<style scoped>
.r1{
    margin-top: 50px;
    margin-left: 310px;
}

.r1 input{
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid #730E0E;
    width: 305px;
    margin-left: 215px;
}


.modal{
    color:#730E0E;
    font-family: Arial;
  
}

.modal .modal-title{
    font-size: 18px;
    font-weight: bold;
}

.modal label{
    text-align: center;
    font-size: 19px;
    padding: 10px;

}

.modal input{
    margin-left: 30px;
    width: 300px;
    border: 2px solid black;
}

.modal-footer button{
   border-radius: 10px;
}

.modal-header{
    background-color:  #730E0E;
}

.modal-title{
    color: white;
}

.btn1{
    background-color:#730E0E; 
    color:whitesmoke;
}

table{
    margin-top: 15px;
    margin-left: 340px;
    border: 1px solid #730E0E;
    color: #730E0E;
    width: 950px;
    max-height: 100%;
    text-align: center;
}

th{
    color: white;
    background-color:#730E0E;
    padding: 15px;
    font-size: 16px;
}

 td{
 padding: 15px;
 font-weight: bold;
}

button img{
    width: 32px;
    height: 32px;
    background-color:none;
    border: none;
}
</style>