<template>
    <div>
        <Header />
        <Sidenav />

            <div class="row chart">
                <div class=" col-4 bar">
                    <bar  width="325px" height="318px"/>
                </div>

                <div class="col-4 ml-4">
                    <pie width="325px" height="310px" beginzero="true"/>
                </div>
            </div>
        
    </div>
    

</template>


<script>
import bar from '../assets/js/bar'
import pie from '../assets/js/pie'
import Header from '../components/header'
import Sidenav from '../components/sidenav'

export default {
    name: 'dashboard',
    components:{
        bar,
        pie,
        Header,
        Sidenav
    },
}
</script>

<style>
.chart{
    margin-top: 80px; 
}
.bar{
   margin-left:320px;
}

</style>