<template>
    <div>
        <Header />
        <Sidenav />
        <Addpatron :modalTarget="modalTarget" :patron="data"/>
         <div class="row r1">
                     <div class="col-5">
                         <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" @click="modal('addModal')" style="margin-left: 12px; margin-top: 10px ;">ADD PATRON </button>
                     </div>
                     <div class="col-7 mr-auto">
                         <input type="text">
                     </div>
                 </div>

           <table>
               <tr>
                  <th>Actions</th>
                  <th>Name</th>
                  <th>Email Address</th> 
                  <th>Date Registered</th>
               </tr>

               <tr v-for="tables in patronData" :key="tables.id">
                   <td> 
                    <button class="btn" data-toggle="modal" data-target="#exampleModal" @click="modal('updateModal',tables)"><img src="../assets/img/edit.png" alt=""></button>
                    <button  class="btn" data-toggle="modal" data-target="#exampleModal" @click="modal('deleteModal', tables)"><img src="../assets/img/delete.png" alt=""></button>
                   </td>
                   <td>{{tables.first_name + ' ' + tables.middle_name + ' ' + tables.last_name}}</td>
                    <td>{{tables.email}}</td>
                    <td>{{tables.created_at}}</td>
               </tr>
           </table>      

      
    </div>
</template>

<script>
import Header from '../components/header'
import Sidenav from '../components/sidenav'
import Addpatron from '../components/AddPatronModal'

export default {
    name:'patron-management',
    components:{
        Header,
        Sidenav,
        Addpatron
    },

    data(){
        return{
            modalTarget: null,
            data: null
        }
    },
    computed:{

        patronData()
        {
            return this.$store.getters['patron/data']
        }
    },
    mounted(){
        this.getData()
    },
    methods:{

        getData()
        {
            this.$store.dispatch('patron/getData')
        },

        modal(target,data)
        {
            if(target == 'addModal'){
                this.modalTarget = target
            }
            if(target == 'updateModal'){
                this.modalTarget = target
                this.data = data
            }
            if(target == 'deleteModal'){
                this.modalTarget = target
                this.data = data
            }
        }

    }
}
</script>

<style scoped>

.r1{
    margin-top: 50px;
    margin-left: 310px;
}

.r1 input{
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid #730E0E;
    width: 305px;
    margin-left: 215px;
}


.modal{
    color:#730E0E;
    font-family: Arial;
  
}

.modal .modal-title{
    font-size: 18px;
    font-weight: bold;
}

.modal label{
    text-align: center;
    font-size: 19px;
    padding: 10px;

}

.modal input{
    margin-left: 30px;
    width: 300px;
    border: 2px solid black;
}

.modal-footer button{
   border-radius: 10px;
}

.modal-header{
    background-color:  #730E0E;
}

.modal-title{
    color: white;
}

.btn1{
    background-color:#730E0E; 
    color:whitesmoke;
}

table{
    margin-top: 15px;
    margin-left: 340px;
    border: 1px solid #730E0E;
    color: #730E0E;
    width: 950px;
    max-height: 100%;
    text-align: center;
}

th{
    color: white;
    background-color:#730E0E;
    padding: 15px;
    font-size: 16px;
}

 td{
 padding: 15px;
 font-weight: bold;
}

button img{
    width: 32px;
    height: 32px;
    background-color:none;
    border: none;
}
</style>