<template>
    <div>
    <Sidenav />
    <Header />
    </div>
</template>

<script>
import Sidenav from '../components/sidenav'
import Header from '../components/header'

export default {
    name: 'settings',
    components:{
        Sidenav,
        Header
    }
}
</script>