<template>
  <div>
    <ul class="nav flex-column fixed-top tops">
      <img src="../assets/img/library.png" alt="" class="img" />
      <span style="font-family: Bauhaus 93">Library System</span>

      <li class="nav-item">
        <div class="row">
          <div class="col-1">
            <img src="../assets/img/dashboard.png" alt="Dashboard" />
          </div>
          <div class="col mt-2">
            <router-link to="/">Dashboard</router-link>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="row">
          <div class="col-1">
            <img src="../assets/img/patron.png" alt="Patron" />
          </div>
          <div class="col mt-2">
            <router-link to="/Patron">Patron Management</router-link>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="row">
          <div class="col-1">
            <img src="../assets/img/book.png" alt="book" />
          </div>
          <div class="col mt-2">
            <router-link to="/Book">Book Management</router-link>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="row">
          <div class="col-1">
            <img src="../assets/img/setting.png" alt="setting" />
          </div>
          <div class="col mt-2">
            <router-link to="/Settings">Settings</router-link>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "sidenav",
};
</script>

<style scoped>
.img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  margin-left: 80px;
}

.top img {
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
}

.top .nav-link {
  padding-bottom: 25px;
}

.top span {
  text-align: center;
  color: white;
  font-size: 24px;
  font-style: italic;
}

.nav-link {
  font-size: 19px;
  color: white;
}

.tops .nav-link:hover {
  color: rgb(83, 43, 43);
}

.tops .nav-item .nav-link {
  margin-left: 7px;
}
.tops {
  width: 260px;
  min-height: 100%;
}

.nav {
  background-color: #730e0e;
}
li img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
}

li {
  padding-top: 25px;
}

.tops span {
  text-align: center;
  color: white;
  font-size: 18px;
  padding-bottom: 30px;
}

a {
  font-size: 19px;
  color: white;
  margin-left: 25px;
  margin-top: 50px;
}

a:hover{
     color: rgb(83, 43, 43);
     text-decoration: none;
}
</style>