body{
	font-family: Gadugi;
}

.jumbotron{
		background-image: url(../img/bg.jpg);
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		max-width: 100%
		height:auto;
		border-radius: 0px;
}

.nav-bg{
		background-color: #8E6A4E;
		color:white;
}

.nav-link{
	font-size: 25px;
	margin-left: 20px;
	color: white;
	
}

.nav-link:hover {
	color:#1C1B1B;
	border-bottom: 2px solid #343434;
}

#p{
	color: white;
	font-family:Bahnschrift;
	font-size: 90px;
	opacity: 70%;
	margin-top: 60px;
}

#btn1{
	margin-top: 5px;
	margin-left: 480px;
	background-color: #C5954C;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	font-size: 20px;
	border-radius: 20px;
}

#btn1:hover{
	background-color:#EFAB43;
	color: white;
}

.btn2{
		margin-top: 55px;
		background-color: #A15740;
		color: white;

}

.button1{
	margin-top: 70px;
	background-color:#A15740;
	padding-left: 30px;
	padding-right: 30px;
	color:white;
}


.button1:hover{
background-color:#E62D2D;
color: white;
}


.navbar{
	background-color: #8E6A4E;
}

#color-bg{
	color: #8E6A4E;
}

.p1{
	margin-top: 150px;
	font-size: 65px;
	font-style: bold;
}

#p2{
	margin-top: 150px;
}

#p3{
	font-size: 25px;
}

#b1{
	width: 500px;
	height: auto;
	margin-top: 20px;
}

#b2{
	width: 500px;
	height: auto;
	margin-top: 100px;
	border-radius: 25px;
}

#p4{
	margin-top: 90px;
}

#logo{
	margin-top: 100px;
	width: 300px;
	height: auto
}

.p5{
	font-size: 65px;
	font-style: bold;

}

#sm{
	margin-left: 30px;
	max-width: 80px;
	height: auto;
}

.adjust{
	margin-top: 20px;
	font-size: 24px;
	margin-left: 60px;
}

.fadjust{
	margin-top: 150px;
}

#logo1{
	max-width: 100px;
	height: auto;
	margin-left:400px;
}