<template>
    <v-app-bar
      color="primary"
      flat
      app
    >
      <v-app-bar-nav-icon color="white" large @click="drawer"></v-app-bar-nav-icon>

     <v-spacer></v-spacer>
     <div class="d-flex align-center">
       <h5 class="white--text">Admin</h5>
        <v-avatar>
           <v-icon color="white">person</v-icon>
        </v-avatar>
     </div>
    
    </v-app-bar>
</template>

<script>
export default {
props:['title'],
methods:{
    drawer(){
        this.$emit('drawer')
    }
}
}
</script>