<template>
    <v-app>
        <SideBar :title.sync="title" :drawer="drawer"/>
        <AppBar  :title="title" @drawer="drawer = !drawer"/>

        <v-main>
            <v-container fluid>
                <BDModal :dialog.sync="dialog" :dialogTitle="dialogTitle" :busDriverData="busDriverData"/>
                <div class="mx-12 mt-12 d-flex justify-space-between">
                    <h2 class="secondary--text">Bus Driver</h2>
                    <v-btn color="primary" @click="dialog = true, dialogContentTitle('add')"><v-icon class="mr-1">add_circle</v-icon> Add </v-btn>
                </div>

                <v-card elevation="6" shaped class="mx-12 mt-12">
                <v-simple-table>
                    <thead>
                        <tr>
                            <th class="primary--text text-center">Name</th>
                            <th class="primary--text text-center"> Contact</th>
                            <th class="primary--text text-center">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="text-center" v-for="data in getData" :key="data.id">
                            <td>{{data.first_name}} {{data.middle_name}} {{data.last_name}}</td>
                            <td>{{data.contact}}</td>
                            <td>
                                <v-btn icon color="primary" large @click="dialog = true, dialogContentTitle('update',data)"><v-icon>update</v-icon></v-btn>
                                <v-btn icon color="red darken-1" large @click="dialog = true, dialogContentTitle('delete',data)"><v-icon>delete_forever</v-icon></v-btn>
                            </td>
                        </tr>
                    </tbody>
                </v-simple-table>                  
                </v-card>                      
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import SideBar from '../components/SideBar.vue'
import AppBar from '../components/AppBar.vue'
import BDModal from '../components/BusDriverModal.vue'

export default {
    components:{
        SideBar,
        AppBar,
        BDModal
    },
    data(){ 
        return{
            drawer:null,
            title:'Dashboard',
            dialog:null,
            dialogTitle:null,
            busDriverData: null
        }
    },
    computed:{
        getData(){
          return this.$store.getters['busDriver/busDriver'] 
        }        
    },
    mounted(){
         this.get()
    },
    methods:{
        get(){
            this.$store.dispatch('busDriver/getData')
        },
        dialogContentTitle(data,contentData){
            if(data == "add")
            {
                this.dialogTitle = data
            }
            if(data == "update")
            {
                this.dialogTitle = data
                this.busDriverData = contentData
            }
            if(data == "delete")
            {
                this.dialogTitle = data
                this.busDriverData = contentData
            }
        }
    }
}
</script>