<template>
    <v-dialog v-model="dialog" persistent transition="dialog-bottom-transition" max-width="450">
        <v-card>
            <v-card-title>
                Bus Driver
            </v-card-title>

            <v-card-text class="mt-8">
                <div v-if="dialogTitle == 'add'">
                    <v-text-field label="First Name" outlined  v-model="busDriver.first_name"></v-text-field>

                    <v-text-field label="Middle Name"  outlined v-model="busDriver.middle_name"></v-text-field>

                    <v-text-field label="Last Name" outlined v-model="busDriver.last_name" ></v-text-field>

                    <v-text-field label="Contact" type="number" outlined  v-model="busDriver.contact"></v-text-field>
                </div>

                <div v-if="dialogTitle == 'update'">
                    <v-text-field label="First Name" outlined v-model="busDriverData.first_name"></v-text-field>

                    <v-text-field label="Middle Name"  outlined v-model="busDriverData.middle_name" ></v-text-field>

                    <v-text-field label="Last Name"  outlined v-model="busDriverData.last_name" ></v-text-field>

                    <v-text-field label="Contact" type="number" outlined v-model="busDriverData.contact" ></v-text-field>
                </div>

                <div v-if="dialogTitle == 'delete'">
                    <h3 class="error--text">Are you sure to delete ?</h3>
                </div>
                
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                
                <v-btn plain @click="dialogContent(false)">Cancel</v-btn>

                <v-btn color="primary" v-if="dialogTitle == 'add'" @click="add">Confirm</v-btn>
                <v-btn color="primary" v-if="dialogTitle == 'update'" @click="update">Confirm</v-btn>
                <v-btn color="primary" v-if="dialogTitle == 'delete'" @click="deletes">Confirm</v-btn>

            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

import toastr from '../toastr/toastr'

export default {

    props:['dialog','dialogTitle','busDriverData'],
    data(){
        return{
            busDriver:{
                first_name : null,
                middle_name : '',
                last_name : null,
                contact : null
            }
        }
    },
    computed:{
       getErrorsData(){
          return this.$store.getters['busDriver/errors']
        }
    },
    mounted(){
      this.getErrorsData
    },
    methods:{
        dialogContent(data){
            this.$emit('update:dialog', data)
        },

      add(){
        this.$store.dispatch('busDriver/postData', this.busDriver)

          setTimeout(()=>{
            if(!this.$store.getters['busDriver/checking']){
                const error = this.getErrorsData
                for(let x in error){
                toastr.info(error[x])
                }
            }
            else{
              toastr.success('Successfully Added')
              this.dialogContent(false)
              this.clear()
            }
          },1000) 
      },

      update(){
        this.$store.dispatch('busDriver/updateData', this.busDriverData)

          setTimeout(()=>{
            if(!this.$store.getters['busDriver/checking']){
                const error = this.getErrorsData
                for(let x in error){
                toastr.info(error[x])
                }
            }
            else{
              toastr.success('Successfully Updated')
               this.dialogContent(false)
               this.clear()
            }
          },1000) 
      },

      deletes(){
        this.$store.dispatch('busDriver/deleteData', this.busDriverData)
        toastr.success('Successfully Deleted')
        this.dialogContent(false)
      },

    clear(){
        this.busDriver.first_name = '',
        this.busDriver.middle_name = '',
        this.busDriver.last_name = '',
        this.busDriver.contact = ''
    }
    }
}
</script>