<template>
    <v-app>
        <SideBar :title.sync="title" :drawer="drawer"/>
        <AppBar  :title="title" @drawer="drawer = !drawer"/>

        <v-main>
            <v-container fluid>
                <h2 class="text-center primary--text mt-12">Dashboard</h2>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import SideBar from '../components/SideBar.vue'
import AppBar from '../components/AppBar.vue'
export default {
    name: 'Dashboard',
    components:{
        SideBar,
        AppBar
    },
    data(){
        return{
            drawer:null,
            title:'Dashboard'
        }
    }
}
</script>