<template>
    <v-dialog v-model="dialog" persistent transition="dialog-bottom-transition" max-width="450">
        <v-card>
            <v-card-title>
                Destination
            </v-card-title>

            <v-card-text class="mt-8">
                <div v-if="dialogTitle == 'add'">
                    <v-text-field label="Destination" outlined  v-model="destinations.destination"></v-text-field>

                    <v-text-field label="Cost" type="number" outlined v-model="destinations.cost" ></v-text-field>
                </div>

                <div v-if="dialogTitle == 'update'">
                    <v-text-field label="Destination" outlined v-model="destinationData.destination"></v-text-field>

                    <v-text-field label="Cost" type="number" outlined  v-model="destinationData.cost"></v-text-field>
                </div>

                <div v-if="dialogTitle == 'delete'">
                    <h3 class="error--text">Are you sure to delete ?</h3>
                </div>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                
                <v-btn plain @click="dialogContent(false)">Cancel</v-btn>

                <v-btn color="primary" v-if="dialogTitle == 'add'" @click="add">Confirm</v-btn>
                <v-btn color="primary" v-if="dialogTitle == 'update'" @click="update">Confirm</v-btn>
                <v-btn color="primary" v-if="dialogTitle == 'delete'" @click="deletes">Confirm</v-btn>

            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

import toastr from '../toastr/toastr'

export default {
    props:['dialog','dialogTitle','destinationData'],
    data(){
        return{
            destinations:{
                destination: null,
                cost: null
            }
        }
    },
    computed:{
       getErrorsData(){
          return this.$store.getters['destination/errors']
        }
    },
    mounted(){
      this.getErrorsData
    },
    methods:{
        dialogContent(data){
            this.$emit('update:dialog', data)
        },

        add(){
        this.$store.dispatch('destination/postData', this.destinations)

          setTimeout(()=>{
            if(!this.$store.getters['destination/checking']){
                const error = this.getErrorsData
                for(let x in error){
                toastr.info(error[x])
                }
            }
            else{
              toastr.success('Successfully Added')
              this.dialogContent(false)
              this.clear()
            }
          },1000) 
      },

      update(){
        this.$store.dispatch('destination/updateData', this.destinationData)

          setTimeout(()=>{
            if(!this.$store.getters['destination/checking']){
                const error = this.getErrorsData
                for(let x in error){
                toastr.info(error[x])
                }
            }
            else{
              toastr.success('Successfully Updated')
               this.dialogContent(false)
               this.clear()
            }
          },1000) 
      },

      deletes(){
        this.$store.dispatch('destination/deleteData', this.destinationData)
        toastr.success('Successfully Deleted')
        this.dialogContent(false)
      },

      clear(){
        this.destinations.destination = ''
        this.destinations.cost = ''
      }
    }
}
</script>