<template>
    <v-app>
        <SideBar :title.sync="title" :drawer="drawer"/>
        <AppBar  :title="title" @drawer="drawer = !drawer"/>

        <v-main>
            <v-container fluid>
                <DestinationModal :dialog.sync="dialog" :dialogTitle="dialogTitle" :destinationData="destinationData"/>
                <div class="mx-12 mt-12 d-flex justify-space-between">
                    <h2 class="secondary--text">Destination</h2>
                    <v-btn color="primary" @click="dialog = true, dialogContentTitle('add')"><v-icon class="mr-1">add_circle</v-icon> Add </v-btn>
                </div>

                <v-card elevation="6" shaped class="mx-12 mt-12">
                <v-simple-table>
                    <thead>
                        <tr>
                            <th class="primary--text text-center"> Destination</th>
                            <th class="primary--text text-center"> Cost</th>
                            <th class="primary--text text-center">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="data in getData" :key="data.id">
                            <td class="text-center">{{data.destination}}</td>
                            <td class="text-center">{{data.cost}}</td>
                            <td class="text-center">
                                <v-btn icon color="primary" large @click="dialog = true, dialogContentTitle('update',data)"><v-icon>update</v-icon></v-btn>
                                <v-btn icon color="red darken-1" large @click="dialog = true, dialogContentTitle('delete',data)"><v-icon>delete_forever</v-icon></v-btn>
                            </td>
                        </tr>
                    </tbody>
                </v-simple-table>                  
                </v-card>                      
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import SideBar from '../components/SideBar.vue'
import AppBar from '../components/AppBar.vue'
import DestinationModal from '../components/DestinationModal.vue'

export default {
    components:{
        SideBar,
        AppBar,
        DestinationModal
    },
    data(){
        return{
            drawer:null,
            title:'Dashboard',
            dialog: null,
            dialogTitle:null,
            destinationData:null
        }
    },
    computed:{
        getData(){
          return this.$store.getters['destination/destination'] 
        }        
    },
    mounted(){
         this.get()
    },
    methods:{
        get(){
            this.$store.dispatch('destination/getData')
        },
        dialogContentTitle(data,contentData){
            if(data == "add")
            {
                this.dialogTitle = data
            }
            if(data == "update")
            {
                this.dialogTitle = data
                this.destinationData = contentData
            }
            if(data == "delete")
            {
                this.dialogTitle = data
                this.destinationData = contentData
            }
        }
    }
}
</script>