<template>  
    <v-navigation-drawer app v-model="drawer" >

        <v-list-item>
            <v-list-item-title>
                <h1 class="primary--text text-center my-12 Logo">EBus TS</h1>
            </v-list-item-title>
        </v-list-item>

        <v-list nav class="mt-4">
            <v-list-item-group mandatory color="primary" >

                <v-list-item class="mb-3" to="/" @click="titleContent('Dashboard')">
                    <v-list-item-icon>
                        <v-icon>dashboard</v-icon>
                    </v-list-item-icon>
                    
                    <v-list-item-content>
                        <v-list-item-title>Dashboard</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item class="mb-3" to="/Ticket" @click="titleContent('Tickets')">
                    <v-list-item-icon>
                        <v-icon text>confirmation_number</v-icon>
                    </v-list-item-icon>
                    
                    <v-list-item-content>
                        <v-list-item-title>Tickets</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item class="mb-3" to="/Destination"  @click="titleContent('Destination')">
                    <v-list-item-icon>
                        <v-icon>place</v-icon>
                    </v-list-item-icon>
                    
                    <v-list-item-content>
                        <v-list-item-title>Destination</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item class="mb-3" to="BusDriver"  @click="titleContent('Bus Driver')">
                    <v-list-item-icon>
                        <v-icon>airline_seat_recline_normal</v-icon>
                    </v-list-item-icon>
                    
                    <v-list-item-content>
                        <v-list-item-title>Bus Driver</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

            </v-list-item-group>
        </v-list>

        <template v-slot:append>
            <div class="pa-2">
            <v-btn block color="primary">
                Logout
            </v-btn>
            </div>
         </template>

    </v-navigation-drawer>
</template>


<script>
export default {
    props:['drawer'],
    data(){
        return{
      
        }
    },
    methods:{
        titleContent(data){
            this.$emit('update:title', data)
        }
    }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.Logo{
    font-family: 'Dancing Script', cursive;
}
</style>