<template>
    <v-app>
        <SideBar :title.sync="title" :drawer="drawer"/>
        <AppBar  :title="title" @drawer="drawer = !drawer"/>

        <v-main>
            <v-container fluid>
                <TicketModal :dialog.sync="dialog" :dialogTitle="dialogTitle" />
                <div class="mx-12 mt-12 d-flex justify-space-between">
                    <h2 class="secondary--text">Ticket</h2>
                    <v-btn color="primary" @click="dialog = true, dialogContentTitle('add')"><v-icon class="mr-1">add_circle</v-icon> Add </v-btn>
                </div>

                <v-card elevation="6" shaped class="mx-12 mt-12">
                <v-simple-table>
                    <thead>
                        <tr>
                            <th class="primary--text text-center">Ticket Number</th>
                            <th class="primary--text text-center"> Destination</th>
                            <th class="primary--text text-center"> Cost</th>
                            <th class="primary--text text-center">Bus Driver</th>
                            <th class="primary--text text-center">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="text-center">
                            <td>666666</td>
                            <td>Tacloban</td>
                            <td>Cost</td>
                            <td>Rhea</td>
                            <td>
                                <v-btn icon color="red darken-1" large @click="dialog=true, dialogContentTitle('update')"><v-icon>update</v-icon></v-btn>
                                <v-btn icon color="red darken-1" large @click="dialog=true, dialogContentTitle('delete')"><v-icon>delete_forever</v-icon></v-btn>
                            </td>
                        </tr>
                    </tbody>
                </v-simple-table>                  
                </v-card>                      
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import SideBar from '../components/SideBar.vue'
import AppBar from '../components/AppBar.vue'
import TicketModal from '../components/TicketModal.vue'

export default {
    components:{
        SideBar,
        AppBar,
        TicketModal
    },
    data(){
        return{
            drawer:null,
            title:'Dashboard',
            dialog: null,
            dialogTitle:null
        }
    },
    methods:{
        dialogContentTitle(data){
            if(data == "add")
            {
                this.dialogTitle = data
            }
            if(data == "update")
            {
                this.dialogTitle = data
            }
            if(data == "delete")
            {
                this.dialogTitle = data
            }
        }
    }
}
</script>