<template>
    <v-dialog v-model="dialog" persistent transition="dialog-bottom-transition" max-width="450">
        <v-card>
            <v-card-title>
                Destination
            </v-card-title>

            <v-card-text class="mt-8">
                <div v-if="dialogTitle == 'add'">
                <v-combobox  color="primary" label="Bus Driver" clearable></v-combobox>
                <v-row>
                    <v-col cols="8">
                        <v-combobox  color="primary" label="Destination" clearable></v-combobox>
                    </v-col>

                    <v-col>
                        <v-text-field label="Cost" type="number" readonly ></v-text-field>
                    </v-col>
                </v-row>
                </div>

                <div v-if="dialogTitle == 'delete'">
                    <h3 class="error--text">Are you sure to delete ?</h3>
                </div>

            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                
                <v-btn plain @click="dialogContent(false)">Cancel</v-btn>

                <v-btn color="primary" @click="dialogContent(false)">Confirm</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    props:['dialog','dialogTitle'],
    data(){
        return{

        }
    },
    methods:{
        dialogContent(data){
            this.$emit('update:dialog', data)
        }
    }
}
</script>